/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: skyblue;
    color: white;
    text-align: center;
/*     font-family: Arial, sans-serif; */
    font-family: 'Roboto', Helvetica, sans-serif;
}

h1 {
    font-size: 24px;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px;
}

#weatherInfo {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    max-width: 400px;
    text-align: left;
}

#weatherInfo h2 {
    font-size: 20px;
}

#weatherIcon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

#error {
    color: red;
    font-weight: bold;
}

/* NAV LIST */
nav {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    flex-direction: row; /* Change from column to row */
    align-items: center;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
}


nav ul li {
    flex: 1 1 auto;
}

nav ul li:first-child {
    display: block;
    font-size: 2rem;
}

nav ul li:first-child a {
    padding: 1px 10px;
}

nav ul li {
/*     display: none; */
    list-style: none;
    margin: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

main {
     margin-top: 60px;
    padding-top: 60px; /* Adjust the value as needed */
}
